.error,
.success {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: darkgrey;
  font-size: 1.5rem;
  padding: 1em;
}

.error {
  color: red;
  border-color: red;
}

.success {
  color: green;
  border-color: green;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  background-color: seashell;
  padding: 10px 0px;
}